<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CSS/styles.css">
    <title>Plant server
    </title>
</head>

<body>
    <div id="grid_wrapper">
        <h2 id="ledStripTitle">LED strip</h2>
        <button onclick="setState(0)" id="onBtnStrip">ON</button>

        <button onclick="setState(1)" id="offBtnStrip">OFF</button>

        <button onclick="setState(2)" id="autoBtnStrip">AUTO</button>

        <h2 id="whiteLedTitle">White LED</h2>
        <button onclick="setState(3)" id="onBtnWhiteLed">ON</button>

        <button onclick="setState(4)" id="offBtnWhiteLed">OFF</button>

        <button onclick="setState(5)" id="autoBtnWhiteLed">AUTO</button>

        <h2 id="heatingTitle">Heating</h2>
        <button onclick="setState(6)" id="onBtnHeating">ON</button>

        <button onclick="setState(7)" id="offBtnHeating">OFF</button>

        <button onclick="setState(8)" id="autoBtnHeating">AUTO</button>
        <!-- Använder jinja för att föra över temp och humidity data från Python till HTML -->
        <p id="humidity">{{ humidity }}%</p>
        <p id="temperature">{{ temperature }}°C</p>
    </div>
</body>

<script src="../static/CSS/script.js" type="application/javascript"></script>

</html>